Config { 
     font = "DejaVu Sans Mono 20"
   , additionalFonts = ["xft:Noto Color Emoji:size=10:antialias=true:hinting=true"]
   , bgColor =      "white"
   , fgColor =      "black"
   , position =     Static { xpos = 0, ypos = 0, width = 3592 , height = 31 }   
   , border =       BottomB
   , borderColor =  "white"
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = "%cpu% %top% %memory% %swap% %disku% %diskio% %dynnetwork% %StdinReader%  }{ %default:Master% %KLGB% %date% %datezoneET% %datezoneUTC%"
   , lowerOnStart =     False    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      False   -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)
   , commands =
        [ Run Cpu [] 600
        , Run DynNetwork     [ "--template" , "<tx>k<rx>k"
                             , "--Low"      , "1000"  
                             , "--High"     , "1000000"
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 300
        , Run Memory         [ "--template" ,"<usedratio>%"
                             , "--Low"      , "20"     
                             , "--High"     , "90"     
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 600
        , Run TopProc [] 300
        , Run WeatherX "KLGB"
           [ ("clear", "🌣")
           , ("sunny", "🌣")
           , ("mostly clear", "🌤")
           , ("mostly sunny", "🌤")
           , ("partly sunny", "⛅")
           , ("fair", "🌑")
           , ("cloudy","☁")
           , ("overcast","☁")
           , ("partly cloudy", "⛅")
           , ("mostly cloudy", "🌧")
           , ("considerable cloudiness", "⛈")]
           ["-t", "|<fn=2><skyConditionS></fn> <tempF>°F <tempC>°C <rh>%  <windKmh> (<hour>)|"
           , "-L","10", "-H", "25", "--normal", "black"
           , "--high", "lightgoldenrod4", "--low", "darkseagreen4"]
           18000
        , Run Swap ["--template", "<usedratio>%"] 6000
        , Run DiskU [("/", "/:<free>"), ("/home", "/home:<free>"), ("/var/lib/docker", "Docker:<free>"), ("/nix", "Nix:<free>")]
                    ["-L", "20", "-H", "50", "-m", "1", "-p", "3"]
                    6000
        , Run DiskIO [("sda", "<total>"), ("sdb", "<total>"), ("sdd", "<total>")] [] 300
        , Run Date           "%m-%d %a %I:%M %P PT " "date" 10
	, Run DateZone "<fc=#ABABAB>%m-%d %a %I:%M %P ET</fc> " "" "America/New_York" "datezoneET" 100
	, Run DateZone "<fc=#ABABAB>%m-%d %a %I:%M %P UTC</fc>" "" "UTC" "datezoneUTC" 100
	, Run Volume "default" "Master" ["--template", "<volume>%"] 10
	, Run StdinReader		     
        ]
}
