Config { 
   font =         "xft:Bitstream Vera Sans Mono:size=8:bold:antialias=true"
   , bgColor =      "white"
   , fgColor =      "black"
   , position = Static { xpos = 0, ypos = 0, width = 2720, height = 32}
   , border =       BottomB
   , borderColor =  "#646464"
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = " %multicpu% %memory% %swap% %disku% %dynnetwork% %wlp3s0wi% | %StdinReader%  }{ %battery% %default:Master% %date% %datezone%"
   , lowerOnStart =     False    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      False   -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)
   , commands = 
        [ Run DynNetwork     [ "--template" , "<tx>k|<rx>k"
                               , "--Low"      , "1000"       -- units: B/s
                               , "--High"     , "5000"       -- units: B/s
                               , "--low"      , "darkgreen"
                               , "--normal"   , "darkorange"
                               , "--high"     , "darkred"
                              ] 100
	, Run Wireless "wlp3s0" [] 1000		      
        , Run MultiCpu       [ "--template" , "<autototal>"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 100
        , Run Memory         [ "--template" ,"<usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 600
        , Run Swap ["--template", "<usedratio>%"] 6000
        , Run DiskU [("/", "/:<free>"), ("/home", "/home:<free>")]
          ["-L", "20", "-H", "50", "-m", "1", "-p", "3"]
          6000
        , Run Date           "<fc=#ABABAB>%m-%d %a %I:%M %P PST</fc>" "date" 10
	-- http://man7.org/linux/man-pages/man3/strftime.3.html
	, Run DateZone "%m-%d %a %I:%M %P UTC" "" "UTC" "datezone" 10
	, Run Volume "default" "Master" ["--template", "Vol: <volume>% <status>"] 10
	,  Run BatteryP ["BAT0"]
              ["-t", "<acstatus> <timeleft> (<left>%)",
               "-L", "10", "-H", "80", "-p", "3",
               "--", "-O", "<fc=green>On</fc> - ", "-i", "",
               "-L", "-15", "-H", "-5",
               "-l", "red", "-m", "blue", "-h", "green"]
              600
	, Run StdinReader		     
        ]
}
