Config { 

   -- appearance
     font =         "xft:Bitstream Vera Sans Mono:size=9:bold:antialias=true"
   , bgColor =      "black"
   , fgColor =      "#646464"
   , position =     Top
   , border =       BottomB
   , borderColor =  "#646464"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = " %multicpu% | %memory% | %swap% | %disku% | %dynnetwork% | %wlan0wi% | %wlan1wi% | %default:Master% | %StdinReader%  }{  %KLGB% | %date% | %kbd%"

--  | %dynnetwork%
   -- general behavior
   , lowerOnStart =     False    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)
   , commands = 

        -- weather monitor
        [ Run Weather "KLGB" [ "--template", "<skyCondition> | <windMph> <windAzimuth> | <fc=#4682B4><tempF></fc>°F | <fc=#4682B4><rh></fc>% | <fc=#4682B4><pressure></fc>hPa"
                             ] 36000
	--, Run Volume "default" "Master" [] 10 		     
        -- network activity monitor (dynamic interface resolution)
        , Run DynNetwork     [ "--template" , "<dev>: <tx>kB/s|<rx>kB/s"
                              , "--Low"      , "1000"       -- units: B/s
                              , "--High"     , "5000"       -- units: B/s
                              , "--low"      , "darkgreen"
                              , "--normal"   , "darkorange"
                              , "--high"     , "darkred"
                             ] 50
        , Run Wireless "wlan0" [ "-a", "l"
                          , "-w", "4"
                          , "-t", "<essid> <quality>"
                          , "-L", "50"
                          , "-H", "75"
                          , "-l", "red"
                          , "-n", "yellow"
                          , "-h", "green"
                          ] 50
        , Run Wireless "wlan1" [ "-a", "l"
                          , "-w", "4"
                          , "-t", "<essid> <quality>"
                          , "-L", "50"
                          , "-H", "75"
                          , "-l", "red"
                          , "-n", "yellow"
                          , "-h", "green"
                          ] 50
        -- cpu activity monitor
        , Run MultiCpu       [ "--template" , "Cpu: <total0>%|<total1>%"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 100
        -- memory usage monitor
        , Run Memory         [ "--template" ,"Mem: <usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 100
        , Run Swap [] 100
        , Run DiskU [("/", "<used>/<size>"), ("sdc5", "<used>/<size>")]
          ["-L", "20", "-H", "50", "-m", "1", "-p", "3"]
          600
        , Run Volume "default" "Master" [] 100
        -- time and date indicator 
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "<fc=#ABABAB>%F (%a) %T</fc>" "date" 10

        -- keyboard layout indicator
        , Run Kbd            [ ("us(dvorak)" , "<fc=#4682B4>DV</fc>")
                             , ("us"         , "<fc=#4682B4>US</fc>")
                             ]

	, Run StdinReader		     
        ]
   }
