Config { 
   font =         "xft:Bitstream Vera Sans Mono:size=9:bold:antialias=true"
   , bgColor =      "white"
   , fgColor =      "black"
   , position =     Static { xpos = 0, ypos = 0, width = 3592 , height = 31 }   
   , border =       BottomB
   , borderColor =  "white"
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = "%multicpu% %memory% %swap% %disku% %dynnetwork% | %StdinReader%  }{ %default:Master% %KLGB% %date% %datezoneET% %datezoneUTC%"
   , lowerOnStart =     False    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      False   -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)
   , commands =
        [ Run DynNetwork     [ "--template" , "<tx>k<rx>k"
                             , "--Low"      , "1000"       -- units: B/s
                             , "--High"     , "5000"       -- units: B/s
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 100
        , Run MultiCpu       [ "--template" , "<autototal>"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 100
        --, Run MultiCoreTemp  [] 50
        , Run Memory         [ "--template" ,"<usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 600
        , Run Weather "KLGB" ["--template", "<tempF>°"] 36000
        , Run Swap ["--template", "<usedratio>%"] 6000
        , Run DiskU [("/", "/:<free>"), ("/home", "/home:<free>")]
                    ["-L", "20", "-H", "50", "-m", "1", "-p", "3"]
                    6000
        , Run Date           "%m-%d %a %I:%M %P PT " "date" 10
	, Run DateZone "<fc=#ABABAB>%m-%d %a %I:%M %P ET</fc> " "" "America/New_York" "datezoneET" 10
	, Run DateZone "<fc=#ABABAB>%m-%d %a %I:%M %P UTC</fc>" "" "UTC" "datezoneUTC" 10
	, Run Volume "default" "Master" ["--template", "<volume>%"] 10
	, Run StdinReader		     
        ]
}
